<%= form_for [@resource, @employment] do |form| %>
  
  <div class='form_items'>
  
    <p>
      <%= form.label :start_date %>
      <%= form.date_select :start_date %>
    </p>
  
    <p>
      <%= form.label :end_date %>
      <%= form.date_select :end_date %>
    </p>
  
    <% if @resource.is_a?(Company) %>
      <p>
        <%= form.label :person %>
        <%= form.select :person_id, Person.all.collect {|p| [ p.to_label, p.id ] }, { :include_blank => true } %>
      </p>
    <% else %>
      <p>
        <%= form.label :company %>
        <%= form.select :company_id, Company.all.collect {|c| [ c.to_label, c.id ] }, { :include_blank => true } %>
      </p>
    <% end %>
  
    <p>
      <%= form.submit %> |
      <%= link_to 'cancel', @resource %>
    </p>
  
  </div>
  
<% end %>