<div class="fields">
  <p>
    <%= f.label :number  %>
    <%= f.text_field :number %>
  </p>
  
  <p>
    <%= f.label :extension  %>
    <%= f.text_field :extension %>
  </p>
  <%= remove_child_link "remove", f %>
</div>
