<%= form_for @company do |form| %>
  
  <div class='form_items'>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
  
    <p>
      <%= form.label :industry %>
      <%= form.select :industry_id, Industry.all.collect {|i| [ i.name, i.id ] }, { :include_blank => true } %>
    </p>
    
    <h3>Phone Numbers</h3>
    <%= form.fields_for :phone_numbers do |phone_form| %>
      <%= render :partial => 'partials/phone_number', :locals => { :f => phone_form } %>
    <% end %>
  
    <p><%= add_child_link "New Phone Number", :phone_numbers %></p>
    <%= new_child_fields_template(form, :phone_numbers, :partial => 'partials/phone_number')%>
  
    <p>
      <%= form.submit %> |
      <%= link_to 'back', companies_path%>
    </p>
  
  </div>
<% end %>