<h2><%= @company.name %></h2>

<%= link_to 'back' , companies_path %> | 
<%= link_to 'edit', edit_company_path(@company) %> | 
<%= link_to 'audit log', audits_path('company', @company) %>

<p>
  Industry: <%= @company.industry.name %>
</p>

Phone Numbers:
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Extension</th>
    </tr>
  </thead>
  <tbody>
    <% @company.phone_numbers.each do |ph| %>
      <tr>
        <td><%= ph.number%></td>
        <td><%= ph.extension%></td>
      </tr>
    <% end %>
  </tbody>
</table>

Employments <%= link_to 'create', new_company_employment_path(@company) %>
<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @company.employments.each do |e| %>
      <tr>
        <td><%= e.person.to_label %></td>
        <td><%= e.start_date.to_s %></td>
        <td><%= e.end_date.to_s %></td>
        <td>
          <%= link_to 'edit', edit_company_employment_path(@company, e)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>