<!DOCTYPE html>
<html>
<head>
  <title>AuditingProject</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p>
    Quick Nav:
    <%= link_to 'Companies', companies_path %> | 
    <%= link_to 'People', people_path %>
  </p>
  
  <%= yield %>

</body>
</html>
